body {
	font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
}
.container {
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
}
.brand-nav {
	font-size: 24px;
	font-weight: bold;
	color: #209cee;
}
.navbar {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.btn-new-post {
	display: none;
}
@media screen and (min-width: 768px) {
	.btn-new-post {
		display: inline-block;
		float: right;
		margin: 10px 10px 0 0;
	}
}

/*footer*/
.footer {
	background: #2d3336;
	margin-top: 20px;
}
.footer-content {
	padding: 22px;
	color: #eee;
}
.footer-highlight {
	display: block;
	float: left;
	border: 1px solid #fff;
	height: 23px;
	padding: 0 5px;
	line-height: 23px;
}
.footer-highlight2 {
	display: block;
	float: left;
	font-style: italic;
	background: white;
	color: #111;
	padding: 0 8px;
	font-size: 1.1em;
	font-weight: bold;
	font-family: serif;
	height: 25px;
	margin-right: 20px;
}
.footer-info {
	font-size: 0.8em;
}
/*page*/
.post-title {
	font-size:26px;
}
.post-main {
	color: #3d4d4d;
	padding: 0 22px;
}
.post-info {
	font-size:14px;
	color: #999;
	margin: 20px 0;
}
.post-content {
	line-height: 1.8;
}
.post-content img {
	text-align: center;
	max-width: 100%;
}
/*post sidebar*/
.side-box {
	border: 1px solid #eee;
	padding: 20px;
	margin: 20px 10px;
}
.post-sidebar {
	position: sticky;
	top:30px;
}
.side-box h4 {
	margin: 0 0 10px 0;
	font-size:1.1em;
}
.related-posts {
	padding-bottom: 10px;
}
.side-post-list {
	list-style: none;
	padding-left: 18px;
	font-size:0.9em;
	margin: 0;
}
.side-post-list li {
	margin-bottom: 10px;
	position: relative;
}
.side-post-list li a {
	color: #444;
	text-decoration: none;
	display: block;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-break: break-all;
	height: 40px;
	-webkit-box-orient: vertical;
}
.side-post-list li time {
	font-size: 0.8em;
	color: #999;
}
.side-post-list li:before {
	position: absolute;
	top: 6px;
	left: -15px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: #4285f4;
	content: "";
}

.next-post {
	border: 1px solid #eee;
}
.next-post a {
	color: #444;
	/* text-decoration: none; */
	display: block;
	font-size: 0.9em;
}

/*post-list*/
.post-list {
	/* padding-right: 50px; */
	padding: 0 22px;
}
.post-list h3 {
	margin-bottom:0;
}
.post-list ul {
	list-style: none;
	/* margin: 0; */
	padding: 0;
	border-top: 1px solid #f4f4f4;
}

.post-item a {
	display: block;
	overflow: hidden;
	text-decoration: none;
	padding: 15px 0;
	border-bottom: 1px solid #f4f4f4;
}
.post-thumbnail {
	float: left;
	overflow: hidden;
	margin-right: 10px;
	width: 125px;
	height: 75px;
}
.post-intro-title {
	font-size: 1em;
	color: #444;
	text-decoration: none;
	display: block;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-break: break-all;
	/* height: 44px; */
	-webkit-box-orient: vertical;
}
.post-intro-info {
	font-size:0.9em;
	color: #999;
	margin-top: 5px;
}

/*tag*/
.tag-section {
	background: #fafafa;
	color: #68727d;
	padding: 20px;
	margin-top: -10px;
	border-bottom: 1px solid #f7f7f7;
}
.tag-section-content {
	padding: 22px;
}

.sidebar-tags {
	padding: 0 10px;
}
.tag-list {
	list-style: none;
	padding-left: 0;
}
.tag-list li {
	display: inline;
}
.tag-link {
	color: #777;
	text-decoration: none;
	padding: 4px 8px;
	font-size: 0.9em;
	border: 1px solid #ccc;
	border-radius: 7px;
	display: inline-block;
	margin-bottom: 10px;
}